.page {
  display: flex;
  flex-direction: column;
}
.droppableWrapper {
  display: flex;
  padding: 5px;
}
.draggingOver {
  background-color: #f5f6ff;
}
.draggable {
  background: #d6d8e6;
  padding: 10px;
  margin: 0px 5px;
}
.draggableBody {
  padding: 5px 50px;
  margin: 0px;
}
